#side-menu{
  background-color: rgb(210, 222, 50);
  width: 40vw;
  height: 100vh;
  position: absolute;
  z-index: 1000;
  display: flex;
  left: -90vw;
}

#side-menu i{
  font-size: 7vw;
  margin-top: 0.2em;
  margin-left: 4.5em;
}