.footer{
  width: 100vw;
  height: 50vh;
  background-color: rgb(54, 53, 53);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.footer img{
  width: 20vw;
  height: 10vh;
}

.seed-list{
  display: flex;
  flex-direction: column;
}

.seed-list ul{
  display: flex;
  flex-direction: column;
}

.seed-list a{
  text-decoration: none;
  color: black;
}

.fruit-list{
  display: flex;
  flex-direction: column;
}

.fruit-list ul{
  display: flex;
  flex-direction: column;
}

.fruit-list a{
  text-decoration: none;
  color: black;
}

.autor{
  display: flex;
  flex-direction: column;
  align-items: center;
}


.webs a{
  font-size: 7vw;
  text-decoration: none;
  margin-left: 0.5em;
  margin-right: 0.5em;
  color: rgb(255, 255, 221);
}

.footer p{
  justify-self: end;
  font-size: small;
}

.terms{
  width: 90vw;
  display: flex;
  text-decoration: none;
  justify-content: center;
}

.terms a{
  text-decoration: none;
  color: black;
}

.terms p{
  margin-left: 1em;
  margin-right: 1em;
}