.yellow-filter{
    background-color: rgb(247, 246, 187);
    width: 100vw;
    height: 100vh;
    filter: opacity(50%);
  }

.background-image{
    background-image: url("../../../public/images/farm-background.webp");
    width: 100vw;
    height: 100vh;
}
