.logo{
  position: absolute;
  z-index: 10;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  margin-top: 10em;
}

.logo-and-title{
  display: flex;
  flex-direction: row;
}

.logo img{
  width: 20vw;
  height: 10vh;
}

.logo img:hover{
  rotate: 360deg;
  transition: 1s;
}

.logo h1{
  font-family: "Inika", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 10vw;
  margin-left: 0.5em;
  color: white;
}

.logo input{
  margin-top: 6.5em;
  width: 50vw;
  height: 4vh;
  box-shadow: 0px 4px 5px 0px black inset;
}

.background-image {
  background-image: url("/images/farm-background.webp");
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.blue-filter {
  background-color: rgb(97, 163, 186);
  width: 100vw;
  height: 100vh;
  filter: opacity(50%);
  position: absolute;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

  .logo img{
    width: 15vw;
    height: 12vh;
  }

  .logo h1{
    font-size: 8vw;
    margin-left: 1em;
  }

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

  .logo img{
    width: 17vw;
    height: 15vh;
  }

  .logo h1{
    font-size: 8vw;
    margin-left: 1em;
  }

  .logo input{
    margin-top: 6.5em;
    width: 35vw;
    height: 4vh;
  }

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

  .logo img{
    width: 10vw;
    height: 16vh;
  }

  .logo h1{
    font-size: 4vw;
    margin-left: 1em;
  }

  .logo input{
    margin-top: 10em;
    width: 25vw;
  }

  .background-image {
    width: 100vw;
    height: 100vh;
    background-size: cover;
  }

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}