.footer{
  width: 100%;
  height: 50vh;
  background-color: rgb(54, 53, 53);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.footer-logo{
  width: 20vw;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-logo img{
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.seed-list{
  display: flex;
  flex-direction: column;
  color: rgb(255, 255, 221);
}

.seed-list ul{
  display: flex;
  flex-direction: column;
}

.seed-list a{
  text-decoration: none;
  color: rgb(255, 255, 221);
}

.fruit-list{
  display: flex;
  flex-direction: column;
  color: rgb(255, 255, 221);
}

.fruit-list ul{
  display: flex;
  flex-direction: column;
}

.fruit-list a{
  text-decoration: none;
  color: rgb(255, 255, 221);
}

.autor{
  display: flex;
  flex-direction: column;
  align-items: center;
  color: rgb(255, 255, 221);
}


.webs a{
  font-size: 7vw;
  text-decoration: none;
  margin-left: 0.5em;
  margin-right: 0.5em;
  color: rgb(255, 255, 221);
}

.footer p{
  justify-self: end;
  font-size: small;
}

.terms{
  width: 90vw;
  display: flex;
  text-decoration: none;
  justify-content: center;
}

.terms a{
  text-decoration: none;
  color: black;
}

.terms p{
  margin-left: 1em;
  margin-right: 1em;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

  .autor{
    margin-left: 0.5em;
    margin-right: 0.5em;
  }

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

  .footer img{
    width: 15vw;
    height: 10vh;
  }

  .webs a{
    font-size: 5vw;
  }

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

  .footer img{
    width: 10vw;
    height: 10vh;
  }

  .webs a{
    font-size: xx-large;
  }

  .footer-logo{
    width: 8vw;
    height: 25vh;
  }

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}